<!DOCTYPE html>
<html>
  <head>
    <title>Alexander</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "animations" %>
    <%= stylesheet_link_tag "buttons" %>
    <%= stylesheet_link_tag "footer" %>
    <%= stylesheet_link_tag "forms" %>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "splash_page"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
<script type="text/javascript">
  window.app1 = "<%= image_url('appstore_1.png') %>";
  window.app2 = "<%= image_url('appstore_2.png') %>";
  window.splash1 = "<%= image_url('splash_img.png') %>";
  window.splash2 = "<%= image_url('splash_img1.jpg') %>";
  window.splash3 = "<%= image_url('splash_img2.jpg') %>";
</script>


  <body>
    <%= yield %>
  </body>
</html>
